<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content=" minimum-scale=1.0, maximum-scale=1.0, width=device-width; user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ title|default('Turned on by Default')|striptags }}{% endblock %}</title>

    {% block includes %}
        <link href="{{ asset('bundles/acmemain/bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/acmemain/bootstrap/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet"/>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42239997-1', 'turnedonbydefault.com');
      ga('send', 'pageview');
    </script>
</head>
<body>
<div class="container">

    {#<div id="top" class="row">
        <div class="span12">
            <ul id="skiplinks" class="pull-left hidden-desktop">
                <li><a href="#content" title="Go to main content">Skip to content</a></li>
                <li><a href="#navigation" title="go to navigation">Skip to navigation</a></li>
            </ul>
        </div>
        <div id="language_selector" class="pull-right">
            {% block language_selector %}
                {{ locale_switcher() }}
            {% endblock %}
        </div>
    </div>#}

    <div class="row">
        <div id="banner" class="span12">

            <div class="hero-unit">
                <h1 id="logo-text"><a href="{{ path('/cms/simple') }}">Turned on by Default</a></h1>

                <p id="slogan">News and Views for you's</p>

                <p style="margin-top:6px; text-align:center; margin-right: 20px;">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {# Admin menu #}
                    {#{% if is_granted('ROLE_ADMIN') %}{% include "::adminControl.html.twig" %}{% endif %}#}

                    {# User name and logout link #}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.firstName}, 'FOSUserBundle') }}
                    | <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>

                {% else %}

                    {# Register and login links #}
                    <a href="{{ path('fos_user_registration_register') }}">Register</a>
                    | <a id="login" href="{{ path('fos_user_security_login') }}">Login</a>

                {% endif %}
                </p>

            </div>
        </div>
    </div>

    <div class="row">
        <div id="content-container" class="span12 boxed">
            <div class="row">
                <div id="navigation" class="span3">
                    <div class="well">
                        {% block navigation %}
                            <h2>Navigation</h2>
                            {{ knp_menu_render('simple') }}
                        {% endblock %}
                    </div>
                </div>
                <div class="span9">
                    <div id="content">
                        <div class="inner">
                            {% block body %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% render controller("cmf_create.jsloader.controller:includeJSFilesAction") %}
</body>
</html>
